:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
    --color-accent-dark: #3b4142;
    --color-accent-blue: #8ac5c9;
}


/* html, body {
    font-family: "Open Sans";
  } */

body.body-dark {
    --current-accent: var(--color-accent-dark);
}

body.body-light {
    --current-accent: var(--color-accent-blue);
}

.header-menu-item {
    color: #000;
    border: 1px solid;
    border-color: #2128f4;
    padding: 5px 10px;
    border-radius: 10px;
}

.search-toggle:hover {
    cursor: pointer;
}

.cart-icon {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.header-menu-item.active {
    font-weight: 600;
}

.header-logo {
    margin-left: auto;
    margin-right: auto;
    height: 63px;
}

.header-logo img {
    height: 100%;
}

.hero-image {
    width: 100%;
}

.product-link {
    display: block;
}

.text-block {
    background: #fff;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 15px;
}

.img-texts {
    position: absolute;
    width: 100%;
    margin-left: 0 !important;
}

.button-block {
    margin-top: 50px;
}

.header {
    justify-content: space-between;
}

.header-ctas {
    margin: initial;
}

.inline-section {
    display: flex;
}

.inline-section .header-menu-desktop {
    margin-left: 0;
    margin-right: 3rem  ;
}

.hero-image-section {
    position: relative;
    width: 100%;
}

.img-texts {
    position: absolute;
    top: 0;
    /* width: 100%; */
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 50px 0 0 0;
    /* padding: 0; */
    margin-left: 80px;
}

.hero-title {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.hero-subtitle {
    font-size: 30px;
    text-align: center;
}

.hero-button {
    background-color: var(--current-accent);
    padding: 20px 15px;
    font-size: 20px;
    color: #fff;
    font-weight: 200;
    border-radius: 30px;
    /* font-weight: 600; */
    /* border: 2px solid #000; */
    margin-top: 10px;
    text-transform: uppercase;
    /* box-shadow:  6px 5px 5px #000; */
}

.hero-button a {
    color: #fff;
}

.hero-button {
    text-transform: uppercase;
}

.button-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hero-button {
    max-width: 150px;
    width: 150px;
    text-align: center;
}

.hero-button a:hover {
    text-decoration: none;
}

.collection-intro {
    display: flex;
}

.right-side {
    display: flex;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.right-side img {
    border-radius: 15px;
    /* width: 50%; */
    width: 100%;
    padding: 10px;
    visibility: hidden;
}

.collection-img {
    max-width: 50%;
    background-size: cover;
    background-position: center;
}

.collection-description {
    background: #fff;
    margin-top: 20px;
    font-size: 21px;
    /* border: 1px solid #000; */
    /* border-radius: 10px; */
    /* min-height: 100px; */
    /* padding: 5px 10px; */
    /* box-shadow: 5px 10px #eaeaea; */
}

.collection-header {
    font-size: 30px;
}

.collection-details {
    width: 50%;
    padding-left: 25px;
}

.collection-sub-menu {
    padding: 10px;
    margin-bottom: 10px;
    /* border: 2px solid #0f0; */
}

.tiles {
    display: flex;
    justify-content: space-between;
}

.category-tile {
    margin-right: 15px;
    background: var(--current-accent);
    padding: 90px 110px 60px 110px;
}

.category-tile:last-child {
    margin-right: 0;
}

.tile-contents {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
}

.tile-image {
    width: 100%;
}

.tile-title {
    margin-top: 20px;
    font-size: 26px;
}

.products-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    margin-left: auto;
}

.product-item {
    height: 400px;
}

.product-item img {
    /* height: 90%; */
    /* width: auto; */
    /* width: 100%; */
}

.image-wrapper {
    height: 350px;
    display: flex;
    justify-content: center;
}

.image-wrapper img {
    height: 100%;
}

main .collection {
    display: flex;
}

.brand {
    text-transform: uppercase;
}

.collection-products-header {
    display: flex;
    justify-content: space-between;
    width: 93%;
    font-size: 23px;
    padding: 20px 0;
}

.collection .products-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

.product-info {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    font-size: 20px;
}

.product-colors {
    display: flex;
}

.product-info div {
    display: inline;
}

.color-option {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
}

.color-option-wrapper {
    border-radius: 50%;
    display: flex;
    border: 1px solid #000;
    padding: 2px;
    margin-right: 10px;
    margin-top: 10px;
}

.product-card.product-options {
    display: flex;
    justify-content: space-between;
}

.product-main .row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-menu-wrapper {
    padding-bottom: 0;
}
.hero-image-section:first-child {
    padding-top: 0;
}
.header-logo img {
    overflow: visible;
}
.header-menu-item {
    font-size: 1.25em;
}


.product-options-item {
    width: 40px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;
}

.product-options-item.active {
    background-color: #54433B;
    color: #fff;
}

.dropdown.custom {
    height: 45px;
    width: 190px;
    padding: 10px;
}

.dropdown.custom {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    outline: none;
    line-height: inherit;
    
    width: 100%;
    display: grid;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    grid-area: select;
}

.dropdown-wrapper {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

.dropdown-wrapper:after {
    content: "";
    grid-area: select;
    width: 0.8em;
    height: 0.5em;
    justify-self: end;
    margin-right: 10px;
    display: block;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.add-to-cart {
    min-width: 250px;
    border-radius: 5px;
    background-color: #54433B;
    color: #fff;
    box-shadow: none;
    outline: none;
    border: none !important;
    height: 45px;
    text-transform: uppercase;
}


.slick-slide > div {
    margin: 0 20px;
}
.slick-list {
    margin: 0 -20px;
}

.slick-prev {
    z-index: 2;
}

.slick-dots {
    position: relative;
    bottom: -25px;
}

.slick-next {
    /* right: -12px; */
    right: -10px;
}

.slick-prev {
    left: -48px;
}

.slick-prev, .slick-next {
    top: 38%;
}

.slick-next::before {
    background: url('../img/next.png') no-repeat;
    content: "";
    display: block;
    height: 53px;
    width: 56px;
    background-size: cover;
}

.slick-prev::before {
    background: url('../img/next.png') no-repeat;
    content: "";
    display: block;
    height: 53px;
    width: 56px;
    transform: rotate(180deg);
    background-size: cover;
}

.slick-slider {
    margin-bottom: 60px;
}

.slick-dots li button:before {
    font-size: 15px;
}

.slider-item img {
    height: 350px;
}

.slider-lower-block {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.slider-lower-block h4 {
    font-weight: 400;
}

.slider-lower-block .price {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}

.collection-heading {
    text-align: center;
}

.collection-heading h2 {
    font-weight: 400;
    font-size: 2rem;
}

.text-tiles-wrapper {
    padding: 30px 20px;
    background-color: var(--current-accent);
}

.text-tiles {
    display: flex;
    justify-content: space-between;
}

.text-tile {
    padding: 20px 50px;
    background: #fff;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.tile-header {
    font-size: 30px;
    margin-bottom: 20px;
}

.tile-description {
    font-size: 20px;
}

.footer {
    padding: 2rem 3rem;
    background: var(--current-accent);
    display: flex;
}

.footer-right {
    margin-left: auto;
}

.inside-button {
    color: white;
    width: 30px;
}

.footer-menu {
    flex-direction: column;
    align-items: initial;
    padding: 0;
    align-items: start !important;
}

.change-styles {
    padding: 10px 15px;
    background-color: red;
    position: fixed;
    margin-top: 200px;
    z-index: 1;
    display: none;
}

.footer-socials {
    width: 200px;
    margin-left: auto;
}





/***************************************************************************************/
.cb-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .cb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 15px;
    width: 15px;
    /* background-color: #eee; */
    border: 1px solid #000;
  }
  
  /* On mouse-over, add a grey background color */
  .cb-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .cb-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .cb-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .cb-container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/***************************************************************************************/












.footer-socials a {
    width: 65px;
    display: inline-block;
}

.link {
    cursor: pointer;
}

.single-product-image {
    max-width: 300px;
}

.single-product {
    display: flex;
    flex-direction: column;
}

.collection-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.slider-item.single-item {
    max-width: 248px;
}

.footer-logo img {
    height: 63px;
}

@media (max-width: 900px) {

    button.header-menu-mobile-toggle {
        font-size: 30px;
        line-height: 0px;
    }

    .product-info {
        width: 110%;
    }

    body > main {
        margin: 0;
    }

    .hero-title {
        font-size: 15px;
    }

    .img-texts .button-block {
        padding-top: 0;
        margin-top: 30px;
    }
    
    .hero-button {
        font-size: 15px;
        padding: 10px 0px;
    }

    .hero-image {
        /* height: 50vh;
        width: auto; */
        height: auto;
        width: 100%;
    }

    .open-filters {
        padding: 10px 15px;
        text-decoration: underline;
    }

    .product-main {
        padding: 10px;
    }

    .text-block {
        margin-top: 0px;
    }

    .img-texts {
        padding: 0;
        justify-content: center;
    }

    .slider-item img {
        height: 200px;
    }

    .slider-lower-block {
        flex-direction: column;
        font-size: 19px;
    }

    .slider-lower-block .price {
        margin-top: 0;
    }

    .slider-upper-block {
        background-size: cover;
        background-position: center;
    }

    .site-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    .category-tile {
        margin-right: 0;
        padding: 20% 30%;
        margin-bottom: 20px;
    }

    .text-tiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    
    .text-tile {
        margin-right: 0;
        padding: 15px;
        margin-bottom: 20px;
    }

    .tile-header {
        font-size: 19px;
    }

    .tile-description {
        font-size: 14px;
    }

    .text-tiles-wrapper {
        padding: 30px 20px 10px 20px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-logo {
        display: none;
    }

    .footer-socials {
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer-socials a {
        width: initial;
    }

    .footer-right {
        margin-left: 0;
        margin-top: 40px;
    }

    .collection-products {
        grid-template-columns: 1fr 1fr;
    }

    .left-side.collection-filters {
        display: none;
    }

    .left-side.collection-filters.active {
        position: absolute;
        min-height: 100vh;
        background: #fff;
        min-width: 100vw;
        display: block;
    }

    .apply-filters {
        border: none;
        margin: auto;
        margin-bottom: 200px;
        display: block;
    }
}

@media (min-width: 1024px) {
    .product-item {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    
    .collection-intro {
        flex-direction: column;
    }
    
    .right-side {
        flex-direction: column;
        margin-bottom: 25px;
    }
    
    .right-side img {
        padding: 0;
    }
    
    .right-side img,
    .collection-details {
        width: 100%;
        padding-left: 0;
    }
    
    .products-grid {
        justify-content: center;
    }
    
    .product-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    
    .footer-menu {
        flex-direction: column;
    }
    
}

.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 0%;
    right: 65%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    border: none;
    position: absolute;
    width: 100%;
    height: 5px;
    top: -16px;
    padding-left: 0 !important;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }