:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

.header-menu-item {
    color: #000;
    border: 1px solid;
    border-color: #2128f4;
    padding: 5px 10px;
    border-radius: 10px;
}

.header-menu-item.active {
    font-weight: 600;
}

.header-logo {
    height: 63px;
}

.hero-image {
    width: 100%;
}

.img-texts {
    position: absolute;
}

.header {
    justify-content: space-between;
}

.header-ctas {
    margin: initial;
}

.inline-section {
    display: flex;
}

.inline-section .header-menu-desktop {
    margin-left: 0;
    margin-right: 3rem  ;
}

.hero-image-section {
    position: relative;
}

.img-texts {
    position: absolute;
    top: 0;
    /* width: 100%; */
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0;
    margin-left: 80px;
}

.hero-title {
    font-size: 55px;
    font-weight: 600;
}

.hero-subtitle {
    font-size: 30px;
}

.hero-button {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid #000;
    margin-top: 10px;
    text-transform: uppercase;
    box-shadow:  6px 5px 5px #000;
}

.hero-button a:hover {
    text-decoration: none;
}

.collection-intro {
    display: flex;
}

.right-side {
    display: flex;
}

.left-side {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.right-side img {
    border-radius: 15px;
    width: 50%;
    padding: 10px;
}

.collection-description {
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    min-height: 100px;
    padding: 5px 10px;
    box-shadow: 5px 10px #eaeaea;
}

.collection-details {
    width: 50%;
    padding-left: 25px;
}

.collection-sub-menu {
    padding: 0;
    margin-bottom: 10px;
    border: 2px solid #0f0;
}

.products-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    width: 90%;
    margin-left: auto;
}

.product-item {
    height: 300px;
}

.product-item img {
    height: 90%;
    /* width: auto; */
    width: 100%;
}

.brand {
    text-transform: uppercase;
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.product-info div {
    display: inline;
}

.product-card.product-options {
    display: flex;
    justify-content: space-between;
}

.product-main .row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-options-item {
    width: 40px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;
}

.product-options-item.active {
    background-color: #54433B;
    color: #fff;
}

.dropdown.custom {
    height: 45px;
    width: 190px;
    padding: 10px;
}

.dropdown.custom {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    outline: none;
    line-height: inherit;
    
    width: 100%;
    display: grid;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    grid-area: select;
}

.dropdown-wrapper {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

.dropdown-wrapper:after {
    content: "";
    grid-area: select;
    width: 0.8em;
    height: 0.5em;
    justify-self: end;
    margin-right: 10px;
    display: block;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.add-to-cart {
    min-width: 250px;
    border-radius: 5px;
    background-color: #54433B;
    color: #fff;
    box-shadow: none;
    outline: none;
    border: none !important;
    height: 45px;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    
    .collection-intro {
        flex-direction: column;
    }

    .right-side {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .right-side img {
        padding: 0;
    }

    .right-side img,
    .collection-details {
        width: 100%;
        padding-left: 0;
    }

    .products-grid {
        justify-content: center;
    }

    .product-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .footer-menu {
        flex-direction: column;
    }

}